/*
TODO: 
Increase text visibility

Add Weather updates

Add Time updates

Add flights

Add departures

Add guest counter

Accessability alt text for background images

Find logo

Horizontal lines to seperate title from text

Make buttons a translucent color for easier reading
*/
#s1{
    background-image: url("./images/bora-bora-3023437_1920.jpg");
    padding: 3rem;
}

#logo{
    width: 50px;
}

header{
    display: flex;
    justify-content: space-between;
}

#welcome{
    padding: 3rem 0;
    height: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#welcome p{
    font-size: 24px;
}

#s2{
    padding: 3rem;
    background-image: url(./images/plane-841441_1920.jpg);
    height: 20rem;
    width: 100%;
    display: flex;
}

#booking{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#flights{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#weather{
    display: flex;
    justify-content: space-around;
}

#flights div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    background-color: grey;
}

#s3{
    background-image: url("./images/paradise-598201_1920.jpg");
    padding: 6rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

#s3 p{
    width: 50%;
    text-align: right;
    font-size: 20pt;
}

ul{
    display: flex;
}

li{
    padding: 1rem;
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
}

h1{
    font-size: 46px;
}

button{
    background-color: transparent;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
    font-size: 14pt;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}